/* div {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    float: left;
    margin: 50px;
}
div img {
    width: 100%;
    height: 100%;
}
.box1 img {
    object-fit: fill;
}
.box2 img {
    object-fit: cover;
}
.box3 img {
    object-fit: contain;
} */

.wrap {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    margin: 100px auto;
    position: relative;
}
.wrap .left {
    width: 200px;
    height: 200px;
    background-color: blue;    
    position: absolute;
    top: 50px;
    left: 50px;
    /* z-index: 2; */
}
.wrap .right {
    width: 200px;
    height: 200px;
    background-color: red;    
    position: absolute;
   
    bottom: 50px;
    right: 50px;
    /* z-index: 1; */
    opacity: 0.5;
}
.box1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 100px;
    float: left;
    /* box-shadow: 10px 10px 30px black;     */
    border-radius: 30px;
}
.box2 {
    width: 200px;
    height: 200px;
    background: red;
    margin: 100px;
    float: left;
    /* box-shadow: -20px -20px 0px pink;     */
    border-radius: 50%;
}
P {
    font-weight: bold;
    font-size: 100px;
    font-family: "arial";
    color: #111;
    margin: 100px;
    text-shadow: 30px 30px 10px #aaa;
}
/*
div {
    width: 200px;
    height: 200px;
    float: left;
    margin: 50px;
}
div:nth-of-type(1) {
    background: linear-gradient(to bottom, blue, red);
}
div:nth-of-type(2) {
    background: linear-gradient(to top, blue, red);
}
div:nth-of-type(3) {
    background: linear-gradient(to right, blue, red);
}
div:nth-of-type(4) {
    background: linear-gradient(to left, blue, red);
}
div:nth-of-type(5) {
    background: linear-gradient(45deg, blue, red);
}
*/
div {
    width: 650px; margin: 100px auto;
   border: 1px solid #ccc;
    padding: 10px;
}
div img {
    width: 200px; margin: 6px;
}
/* 수치값이 커질수록 blur 효과 증가 */
div img:nth-of-type(2) {
    filter: blur(3px);
}
/* 1보다 작아지면 어두워지고 커지면 밝아짐 */
div img:nth-of-type(3) {
    filter: brightness(0.5);
}
/* 100%작아지면 대비효과가 낮아지고 높아지면 대비증가 */
div img:nth-of-type(4) {
    filter: contrast(150%);
}
/* 100%로 근접할수록 흑백으로 전환 */
div img:nth-of-type(5) {
    filter: grayscale(100%);
}
/* 0deg는 원래 이미지 색상 0~360deg까지 변경할수록 색상 변경 */
div img:nth-of-type(6) {
    filter: hue-rotate(180deg);
}
/* 100%로 근접할 수록 색감이 정 반대로 전환 */
div img:nth-of-type(7) {
    filter: invert(100%);
}
/* 0으로 근접할 수록 색감의 채도가 낮아짐 */
div img:nth-of-type(8) {
    filter: saturate(0.5);
}
/* 100%로 근접할 수록 갈색톤으로 색감이 변경 */
div img:nth-of-type(9) {
    filter: sepia(100%);
}
